# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
datapull/__pycache__

# testing
frontend/coverage
datapull/test.json
datapull/test-pretty.json
datapull/settings.json

# production
frontend/build

# fonts
frontend/src/constants/fonts.js

# design files
frontend/src/design

# outputs
datapull/*.tar.gz
datapull/*.csv
datapull/*_pb2.py

# misc
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
debug.log
.vscode/

.DS_Store
*.DS_Store